# Useless Files
.DS_Store

# Temp Directories
.idea/
__PYCACHE__/
.jupyter/

# Model Files

# Logging Files
catboost_info/

# Private Files
sensitive.py

# Local Packages
dataset/*
!dataset/*.csv
!dataset/*.txt
